{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Forum</title>
    {% endif %}
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap_css/bootstrap.css' %}">
    <link rel="icon" type="imagex/x-icon" href="{% static 'img/favicon.ico' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>

<header class="p-2 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="fs-4 text-white me-auto" href="{% url 'main:homepage' %}">
                <img src="{% static 'img/logo.jpg' %}"><span class="ms-1">Forum</span>
            </a>
            <div id="auth_links" class="text-end">
                {% if user.is_authenticated %}
                    <a class="fs-5 text-white me-3" href="{{ user.get_absolute_url }}">{{ user.username }}</a>
                    <a class="btn btn-danger" href="{% url 'users:logout' %}">Logout</a>
                {% else %}
                    <a class="btn btn-outline-light me-2" href="{% url 'users:login' %}">Login</a>
                    <a class="btn btn-warning" href="{% url 'users:signup' %}">SignUp</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="mt-3">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</div>

<footer class="pt-5">
</footer>

</body>
</html>