{% extends 'base.html' %}

{% block content %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
    <p>{{ field.label }}
    <p>{{ field }}</p>
    {% if field.errors %}
      {% for err in field.errors %}
        <p>{{ err }}</p>
      {% endfor %}
    {% endif %}
  {% endfor %}
  <input type="submit" value="Save settings">
</form>

<br>

<a href="{% url 'users:password_change' %}">Change password</a> / <a href="{% url 'users:email_change_verification' %}">Change Email</a>
{% endblock %}